<%= render 'shared/header' %>

<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
<div class='form-main'>
  <h2>新規ユーザー登録</h2>

  <%= render "devise/shared/error_messages", model: f.object %>

  <div class="field">
    <label>ニックネーム</label><br>
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <label>メールアドレス</label><br>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <label>生年月日</label><br>
    <div class='birth-list'>
      <%= raw sprintf(
            f.date_select(
              :date_of_birth,
              class:'select-birth',
              id:"birth-date",
              use_month_numbers: true,
              prompt:'--',
              start_year: 1930,
              end_year: (Time.now.year - 5),
              date_separator: '%s'),
            "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
  </div>

  <div class="field">
    <label>職業</label><br>
    <%= f.text_field :occupation %>
  </div>

  <div class="field">
    <label>パスワード</label><br>
    <%= f.password_field :password%>
  </div>

  <div class="field">
    <label>パスワード（確認）</label><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
</div>
<% end %>

<%= render 'shared/footer' %>
